<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <a href="/">Home</a> | 
      <a href = "/calendar">Calendar</a> |
      <a href = "/calendar/event">Event</a>
    </div>
    <h1><%= title %></h1>